<header id="header" role="banner">
    {{ render "partials/ilheader.html"}}
</header>
<section id="content" role="main">
    <div class="aui-toolbar2 app-toolbar ">
        <div class="aui-toolbar2-inner">
            <div class="aui-toolbar2-primary">
                <div id="button-set" class="aui-buttons">
                    <button class="aui-button aui-button-primary" resolved="">Edit</button>
                </div>
                <div id="button-set1" class="aui-buttons">
                    <button class="aui-button" resolved="">Assign</button>
                    <button class="aui-button" resolved="">Comment</button>
                    <button class="aui-button aui-dropdown2-trigger aui-alignment-target aui-alignment-abutted aui-alignment-abutted-left aui-alignment-out-of-bounds aui-alignment-out-of-bounds-bottom aui-alignment-element-attached-top aui-alignment-element-attached-left aui-alignment-target-attached-bottom aui-alignment-target-attached-left"
                            aria-owns="toolbardemo-dropdown2-more" aria-haspopup="true"
                            aria-controls="toolbardemo-dropdown2-more" data-container="#button-set1" resolved=""
                            aria-expanded="false">More
                    </button>
                </div>
            </div>
            <div class="aui-toolbar2-secondary">

                <div id="button-set2" class="aui-buttons">
                    <button class="aui-button aui-dropdown2-trigger"
                            aria-owns="dropdown2-view"
                            aria-haspopup="true" aria-controls="dropdown2-view" data-container="#button-set2"
                            resolved="" aria-expanded="false">
                        <span class="aui-icon aui-icon-small aui-iconfont-filter">Filter</span> &nbsp;Filter
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div>

    </div>
</section>

{{define "home-scripts"}}
    <script>
        $(function () {

        })
    </script>
{{end}}