<header id="header" role="banner">
    {{ render "partials/lheader.html"}}
</header>
<section id="content" role="main">
<div>
    <div id="pattern" class="row"> </div>
</div>
</section>



{{define "index-scripts"}}
    <script>
        $(function () {
            var sr = com.poovarasan.application.boxPattern({
                image: "/static/image/sr.jpg",
                heading: "Service Request",
                description: "This is a sprint. Plan a sprint by dragging the sprint footer down below some issues, or by dragging issues here",

            });
            var pt = com.poovarasan.application.boxPattern({
                image: "/static/image/pt.png",
                heading: "Problem Ticket",
                description: "This is a sprint. Plan a sprint by dragging the sprint footer down below some issues, or by dragging issues here",

            });

            var cr = com.poovarasan.application.boxPattern({
                image: "/static/image/cr.jpg",
                heading: "Change Request",
                description: "This is a sprint. Plan a sprint by dragging the sprint footer down below some issues, or by dragging issues here",
            });

            var um = com.poovarasan.application.boxPattern({
                image: "/static/image/um.png",
                heading: "User Management",
                description: "This is a sprint. Plan a sprint by dragging the sprint footer down below some issues, or by dragging issues here",
            });
            $('#pattern').append(sr + pt + cr + um)

        })
    </script>
{{end}}