.card {
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.card:hover {
    cursor: pointer;
    background: #fafafa;
}

.card:active {
    cursor: pointer;
    background: #dddddd;
}


.img-responsive {
    max-width: 100%;
    height: auto
}

.offline {
    margin-top: 10%;
}

.right {
    float: right;
}

.unset-max-width {
    max-width: unset !important;
}

.app-toolbar {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    background-color: white;
    border-bottom: 1px solid #dadada;
}

@media (min-width: 481px) and (max-width: 767px) {
    .unset-width {
        width: unset !important;
    }
}
