.card {
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.card:hover {
    cursor: pointer;
    background: #fafafa;
}

.card:active {
    cursor: pointer;
    background: #dddddd;
}


.img-responsive {
    max-width: 100%;
    height: auto
}

.search-input {
    background: rgba(0,0,0,.2);
    border-radius: 3px !important;
    box-shadow: none;
    color: hsla(0,0%,100%,.6);
    height: 30px !important;
    margin: 5px 0 !important;
    padding-right: 26px !important;
}